// Colors as taken from https://stephango.com/flexoki

// Base Color
$flexoki-paper: rgb(255, 252, 240);
$flexoki-base-50: rgb(242, 240, 229);
$flexoki-base-100: rgb(230, 228, 217);
$flexoki-base-200:rgb(206, 205, 195);
$flexoki-base-300: rgb(183, 181, 172);

$flexoki-base-600: rgb(111, 110, 105);
$flexoki-base-700: rgb(87, 86, 83);
$flexoki-base-800: rgb(64, 62, 60);
$flexoki-base-900: rgb(40, 39, 38);
$flexoki-base-950: rgb(28, 27, 26);
$flexoki-black: rgb(16, 15, 15);

$my-green-50: rgb(216 236 221);
$my-green-100: rgb(190 223 202);
$my-green-150: rgb(169 210 186);
$my-green-200: rgb(149 196 169);
$my-green-300: rgb(114 171 138);
$my-green-400: rgb(94 151 117);
$my-green-500: rgb(77 135 104);
$my-green-600: rgb(65 122 92);
$my-green-700: rgb(53 103 77);
$my-green-800: rgb(36 72 54);
$my-green-850: rgb(29 57 41);
$my-green-900: rgb(23 44 34);
$my-green-950: rgb(16 26 20);

// Cyan
$flexoki-cyan-300: rgb(90, 189, 172);
$flexoki-cyan-400: rgb(58, 169, 159);
$flexoki-cyan-500: rgb(47, 150, 141);
$flexoki-cyan-600: rgb(36, 131, 123);
$flexoki-cyan-700: rgb(28, 108, 102);

// Green
$flexoki-green-50: rgb(237, 238, 207);
$flexoki-green-100: rgb(221, 226, 178);
$flexoki-green-150: rgb(205, 213, 151);
$flexoki-green-200: rgb(190, 201, 126);
$flexoki-green-300: rgb(160, 175, 84);
$flexoki-green-400: rgb(135, 154, 57);
$flexoki-green-500: rgb(118, 141, 33);
$flexoki-green-600: rgb(102, 128, 11);
