@use 'colors' as *;

$border-radius: 4px;
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

body {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $flexoki-black;
  font-size: 1rem;
  max-width: 63em;
  background-color: $flexoki-paper;
  color: $flexoki-black;

  @media (min-width: 820px) {
    font-size: 1.2rem;
  }
}

time {
  display: block;
  color: $flexoki-base-100;
  margin: 0.5em 0 1em;
}

footer {
  margin: 2em 0;
  font-size: 0.8em;
  color: $flexoki-base-900;
  padding-top: 1em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $flexoki-base-100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
}

a {
  transition: background 300ms;
  padding: 0 0.1em;
  text-decoration: none;
  border-bottom: 1px solid $my-green-300;
  color: $flexoki-base-800;
  &:hover {
    color: $my-green-300 !important;
  }
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    color: #aaaaaa;
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

nav {
  margin: 1em 0 3em;
}

#notes-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }
}

code {
  background: #f5f5f5;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}

.latest-update {
  padding: 2em;
  background: $flexoki-base-50;
  border-radius: 8px;
  margin: 2em 0;
  border-left: 4px solid $my-green-400;
}

ul {
  list-style-type: none; /* Removes the default bullet */
  padding-left: 1em; /* Adjust the padding for indent */
}

ul li::before {
  content: "-"; /* Adds a dash before each list item */
  margin-right: 0.5em; /* Space between the dash and text */
}

input {
  background-color: $flexoki-base-100;
  color: $flexoki-black;

  &:focus {
    background-color: $flexoki-paper;
    color: $flexoki-black;
    border-color: $flexoki-base-300;
  }

  &:not(:focus) {
    background-color: $flexoki-base-50;
    color: $flexoki-black;
  }
}

button {
  display: inline-flex; /* Keeps buttons in a row while enabling flexbox */
  align-items: center; /* Centers text vertically */
  justify-content: center; /* Centers text horizontally */
  padding: 8px 12px; /* Adjust padding for better spacing */
  font-size: 14px;
  line-height: 1; /* Ensures text is not pushed by line-height */
  color: $flexoki-black;
  border: 1px solid $flexoki-base-100;
  background: $flexoki-base-50;
  cursor: pointer;
  margin: 2px;
  border-radius: 4px;
  height: 32px; /* Ensures consistent height */
  white-space: nowrap; /* Prevents text wrapping */
}
button.active {
  background: $my-green-600 !important;
  color: $flexoki-base-50;
  border-color: $my-green-700;
}
button:hover {
  background: $my-green-400;
  border-color: $my-green-500;
  transition: opacity 0.8s ease-in-out;
}

.copy-icon {
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.copyable-text:hover .copy-icon {
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $flexoki-black;
    color: $flexoki-base-200;
  }

  a {
    border-bottom: 1px solid $my-green-600;
    color: $flexoki-base-300;
    &:hover {
      color: $my-green-600 !important;
    }
    &:after {
      position: relative;
      top: -0.5em;
      font-size: 0.7em;
      color: #aaaaaa;
    }
  }

  *:focus {
    background: $flexoki-base-900 !important;
    color: $flexoki-base-200 !important;
  }

  .latest-update {
    background: $flexoki-base-950;
    border-left: 4px solid $my-green-400;
  }

  input {
    background-color: $flexoki-black;
    color: $flexoki-base-200;

    &:focus {
      background-color: white;
      color: black;
      border-color: $flexoki-base-800;
    }

    &:not(:focus) {
      background-color: $flexoki-base-950;
      color: $flexoki-base-200;
      border-color: $flexoki-base-900;
    }
  }

  button {
    padding: 8px 8px;
    font-size: 14px;
    color: $flexoki-base-50;
    border: 1px solid $flexoki-base-900;
    background: $flexoki-base-950;
    cursor: pointer;
    margin: 2px;
    border-radius: 4px;
  }
  button.active {
    background: $my-green-600 !important;
    color: $flexoki-base-50;
    border-color: $my-green-700;
  }
  button:hover {
    background: $my-green-800;
    transition: opacity 0.8s ease-in-out;
  }
}
